body {
    background-color: yellow;
    color: blue;
    font-family: Arial, sans-serif;
}

header {
    background-color: yellow;
    color: white;
    text-align: center;
    padding: 30px;
}

h1 {
    font-size: 36px;
}

h2 {
    color: blue
}

p {
    font-size: 18px;
    line-height: 1.6;
}
main{
width:80%;
margin:auto;
}

section {
background-color: blue;
margin; 20px 0:display;
 padding: 20px;
 border_radius: 12px;
}

img{
width: 100%;
max-width: 600px;
diplay: block;
margin

}
